 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f3f7;
}

/* HEADER */
.header {
    background: linear-gradient(to right, #6f77c6, #8b90e0);
    padding: 18px 40px;
}

/* THIS IS THE KEY */
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* IMAGE */
.logo img {
    width: 32px;
    height: 32px;
}

/* TEXT BLOCK */
.text h3 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.text small {
    display: block;
    color: #e0e3ff;
    font-size: 12px;
    margin-top: 2px;
}

/* CONTAINER */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD */
.card {
    display: flex;
    width: 900px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* LEFT SIDE */
.left {
    width: 50%;
    background: linear-gradient(to bottom, #7c83d3, #6f77c6);
    color: white;
    padding: 40px;
}

.left h1 {
    font-size: 40px;
    margin: 20px 0;
}

.left p {
    font-size: 14px;
    line-height: 1.6;
}

/* IMAGE */
.image1 img {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

/* RIGHT SIDE */
.right {
    width: 50%;
    background: #fff;
    padding: 40px;
}

.right h2 {
    font-size: 28px;
}

.sub {
    color: #777;
    margin-bottom: 20px;
}

/* LINK */
.login-link {
    margin-bottom: 20px;
    font-size: 14px;
}

.login-link a {
    color: #7c83d3;
    text-decoration: none;
}

/* INPUTS */
.right input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* BUTTON */
.btn {
    width: 160px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #7c83d3, #6f77c6);
    color: white;
    cursor: pointer;
}

/* ERROR */
.error-box p {
    color: red;
    font-size: 13px;
    margin-top: 10px;
}

/* FOOTER */
.footer {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    color: #555;
}